
{% block title %}Coucou - {{ parent() }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Coucou</h1>
        <p class="lead">Coucou !</p>
    </div>
</div>
{% endblock %}